/* Universal styles */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #272727;
}

/* Devices smaller than 768px wide */
@media only screen and (max-width: 767px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
  }

  .navbar__logo {
    height: 100px;
    padding-top: 2rem;
  }

  /* Hides the navbar links when viewed on a small device */
  .navbar__links {
    display: none;
  }

  /* Hamburger Icon */
  .navbar__bars {
    color: #ffe400;
    font-size: 2rem;
    position: fixed;
    top: 0;
    right: 0;
    margin: 1.5rem 1.5rem 0 0;
  }

  /* Site header for main section */
  .header {
    text-align: center;
    color: rgb(243, 245, 246);
  }
}
