/* Universal styles */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #272727;
}

.card {
  text-align: center;
  background-color: #272727;
  margin: 1rem 1rem;
  padding: 1rem;
  color: rgb(243, 244, 245);
}

/* Custom site */
.custom-site__card h2 {
  color: #ffe400;
}

.custom-site__card button {
  background-color: #ffe400;
}

/* Custom design */
.custom-design__card h2 {
  color: #14a76c;
}

.custom-design__card button {
  background-color: #14a76c;
}

/* Copywrighting */
.copywrighting__card h2 {
  color: #ff652f;
}

.copywrighting__card button {
  background-color: #ff652f;
}

.button {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: rgb(243, 244, 245);
  color: #272727;
}

.footer {
  color: rgb(243, 244, 245);
  position: absolute;
  width: 100%;
  text-align: center;
  padding-bottom: 1rem;
}

/* Devices smaller than 768px wide */
@media only screen and (max-width: 767px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
  }

  /* Site Logo styles */
  .navbar__logo {
    height: 100px;
    padding-top: 2rem;
  }

  /* Hides the navbar links when viewed on a small device */
  .navbar__links {
    display: none;
  }

  /* Hamburger Icon */
  .navbar__bars {
    color: #ffe400;
    font-size: 2rem;
    position: fixed;
    top: 0;
    right: 0;
    margin: 1.5rem 1.5rem 0 0;
  }

  /* Site header for main section */
  .header {
    text-align: center;
    color: rgb(243, 245, 246);
    padding-top: 2rem;
  }

  .card {
    border-bottom: solid black 1px;
    padding: 2rem;
  }
}
